target
*.log
.snfoundry_cache
snfoundry_trace
.snfoundry_versioned_programs
coverage
coverage_report
node_modules
.env
class_hashes.json

# Solidity build artifacts
solidity/node_modules/
solidity/cache/
solidity/artifacts/
solidity/typechain-types/
solidity/coverage/